
.nexmoe-post-footer
{
	background-color: #2b2b2b;
}
:root {
    --color-primary: #31aeff;
    --color2: #ff4e6a;
    --color3: #ffb900;
    --color4: #33d57a;
    --color5: #00dbff;
    --color6: #ff4500;
    --color7: #9090ff;
    --color-primary-bg: rgba(49, 174, 255,0.15);
    --color2-bg: rgba(255, 78, 106,0.15);
    --color3-bg: rgba(255, 185, 0,0.15);
    --color4-bg: rgba(51,213,122,0.15);
    --color5-bg: rgba(0,219,255,0.15);
    --color6-bg: rgba(255, 69, 0,0.15);
    --color7-bg: rgba(144,144,255,0.15);
}
.tips {
    padding-left: 10px;
    background-color rgba(52,152,219,.3);
    border-left 4px solid rgb(52,152,219);
    color: darken(rgb(52,152,219),20%);
}
.success {
    padding-left: 10px;
    background-color rgba(46,204,113,.3);
    border-left 4px solid rgb(46,204,113);
    color: darken(rgb(46,204,113),20%);
}
.warning {
    padding-left: 10px;
    background-color rgba(241,196,15,.3);
    border-left 4px solid rgb(241,196,15);
    color: darken(rgb(241,196,15),20%);
}
.danger {
    padding-left: 10px;
    background-color rgba(231,76,60,.3);
    border-left 4px solid rgb(231,76,60);
    color: darken(rgb(231,76,60),20%);
}
